STATIC_NODES_ARRAY='[]'
CHAIN_ID="1313"
BLOCKCHAIN_ENVIRONMENT="TESTNET"
GIT_COMMIT_HASH_GETH="1015a42d9026cdf95c74c6466790de009d807922"
SYNC_MODE="full"
SYNC_GCMODE="archive"
NODE_PORT="30303"
NODE_HTTP_PORT="8545"
NODE_WS_PORT="8546"
IS_VALIDATOR_NODE="false"
WALLET_ACCOUNT=""
ACCOUNT_FILE_CONTENT=""
PASSWORD_NODE=""
STATS_SERVER=""
STATS_NODE_USER=""
STATS_NODE_PASSWORD=""

